.textContents {
  background-color: gray;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
}

#mainContent {
  background-color: lightblue;
  height: 400px;
}

#navigation {
  background-color: lightcoral;
  height: 400px;
  padding: 10px;
  width: 25%;
}

.navItem {
  background-color: lightgoldenrodyellow;
  height: 50px;
  margin: 10px;
  font-size: 25px;
  padding: 25px 0px 0px 20px;
}
